@{
    ViewBag.Title = "تائید رایانامه";
}

<h2 style="font-family:IranNastaliq;font-size:xx-large">@ViewBag.Title.</h2>
<div>
    <p style="font-family:IranNastaliq;font-size:xx-large">
        از اینکه رایانامه خود را تائید نمودید سپاسگزاریم!لطفا @Html.ActionLink("جهت ورود به پایگاه کلیک نمائید", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
