@{
    ViewBag.Title = "تائیدیه ارسال گذرواژه";
}

<hgroup class="title">
    <h1 style="font-family:IranNastaliq;font-size:xx-large">@ViewBag.Title.</h1>
</hgroup>
<div>
    <p style="font-family:IranNastaliq;font-size:xx-large">
        لطفا رایانامه خود را جهت دریافت گذرواژه جدید بررسی نمائید!
    </p>
</div>
	
