@{
    ViewBag.Title = "بازنشاندن گذرواژه";
}

<hgroup class="title">
    <h1 style="font-family:IranNastaliq;font-size:xx-large">@ViewBag.Title.</h1>
</hgroup>
<div>
    <p style="font-family:IranNastaliq;font-size:xx-large">
        گذرواژه شما با موفقیت بازنشانی شد! لطفا @Html.ActionLink("جهت ورود به پایگاه کلیک نمائید", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
