@{
    ViewBag.Title = "صفحه نخست";
}

<div class="jumbotron" style="background-color:Menu">
    <h2><img src="~/Areas/Administrator/img/toloo121.png" alt="category" />
        گروه آموزشی طلوع</h2>
    <h2 style="font-family:Consolas;color:green">MVC121</h2>
    <p class="lead"> </p>
    <p><a href="http://asp.net" class="btn btn-success ">اطلاعات بیشتر &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>شروع</h2>
        <h2 style="font-family:'Segoe UI';color:red">
            ASP.Net_MVC
        </h2>
        <p>
            یک الگوی سریع _توسعه پذیر و قدرتمند جهت ساخت وبسایت های پویا بوده و امکان هر گونه کنترل و مدیریت را به شما میدهد.
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>داکیومنتیشن</h2>
        <p>نوگت ابزاری رایگان جهت افزودن_حذف و بروزرسانی کتابخانه های مفید در ویژوال استدیو میباشد.</p>
        <p><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301866">اطلاعات بیشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>سطح پیشرفته</h2>
        <p>پیاده سازی قدرتمند در هر ابعاد و با هر تفکر.</p>
        <p><a class="btn btn-warning" href="http://go.microsoft.com/fwlink/?LinkId=301867">اطلاعات بیشتر &raquo;</a></p>
    </div>
</div>